html, body{
    font-family: 'Jolly Lodger';
    font-size: 20px;
    color: #cccccc;
    letter-spacing: 1px;
    background-image: url("images/gallery.jpg");
    background-color: #cccccc;
    background-size: cover;
  }

  #navTimer{
    font-size: 50px;
    color: rgb(161, 37, 37);
  }
  .nav-link{
    font-size: 50px;
    color: goldenrod;
  }

  .card{
    background-color: rgba(0,0,0,0.6)
  }

  #user-form{
    margin: 0 auto; 
    width: 400px;
  }

  .highScore{
      padding-top: 70px;
  }

  .crest{
      height: 600px;
      width: auto;
  }
